<!DOCTYPE html>
<html>
<head>
    <title>Viventa Project</title>
    <link rel="icon" type="image/png" href="../static/images/logo_transparent.png">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/style_index.css" />
    <!--<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_transparent.png')}}">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style_index.css') }}"/>-->
  
    <body>
        <div id="general">
            <div id="imagen">
                <img src="../static/images/logo_transparent.png" width="500" height="500" />
                 <!--<img src="{{ url_for('static', filename='images/logo_transparent.png')}}" width="500" height="500" />-->
            </div>

            <div id="bienvenida">
                <p>SOFTWARE QUE POR MEDIO DE CALCULO AUTOMATICO, PERMITE LA PREDICCIÓN DEL PRECIO DE UNA VIVIENDA EN LA CIUDAD DE CALI, COLOMBIA</p>
            </div>

            <div id="prediccion">
                <h2>Predicción de precio</h2>
                <div id="preguntas">
                    <p>Tipo de vivienda</p>
                    <p>Número de habitaciones</p>
                    <p>Número de baños</p>
                    <p>Parqueaderos</p>
                    <p>Área privada</p>
                    <p>Área construida</p>
                    <p>Estrato</p>
                    <p>Pisos</p>
                </div>
                <div id="respuestas">
                    <form action="#" method="post">
                        <select id="viv_type" name="viv_type" class="select2">
                            <option>Casa</option>
                            <option>Apartamento</option>
                        </select>

                        <input type="number" name="rooms" id="rooms" class="input2">

                        <input type="number" name="baths" id="baths" class="input2">

                        <input type="number" name="lots" id="lots" class="input2">

                        <input type="number" name="priv_area" id="priv_area" class="input2">

                        <input type="number" name="cons_area" id="cons_area" class="input2">

                        <input type="number" id="estrato" name="estrato" min="1" max="6" class="input2">

                        <input type="number" name="floor" id="floor" class="input2">
                        <input type="submit" value="Predecir!" class="submit2">
                    
                    </form>
                </div>
            </div>

        </div>


    </body>
</html>