<!DOCTYPE html>
<html>
<head>
	<title>Viventa Project</title>
</head>
<body>
	<form action="#" method="post">
		<h2>Predicción de precio</h2>
		<p>Tipo de vivienda</p>
		<select id="viv_type" name="viv_type">
			<option>Casa</option>
			<option>Apartamento</option>
		</select>
		<p>Número de habitaciones</p>
		<input type="number" name="rooms" id="rooms" class="input2">
		<p>Número de baños</p>
		<input type="number" name="baths" id="baths" class="input2">
		<p>Parqueaderos</p>
		<input type="number" name="lots" id="lots" class="input2">
		<p>Área privada</p>
		<input type="number" name="priv_area" id="priv_area" class="input2">
		<p>Área construida</p>
		<input type="number" name="cons_area" id="cons_area" class="input2">
		<p>Estrato</p>
		<input type="number" id="estrato" name="estrato" min="1" max="6">
		<p>Pisos</p>
		<input type="number" name="floor" id="floor" class="input2">
		<input type="submit" value="Registrarse">
	</form>
</body>
</html>